# --- Secret ---
.env
**/.env

# --- Local Bot ---
memoria.json
vistos.txt

# --- Archivos basura de Python ---
__pycache__/
*.pyc

# --- Entornos Virtuales (Python) ---
venv/
**/venv/
.venv/

# --- Datos de Contenedores ---
**/uptime-kuma/datos/

# --- Capturas de pantalla (Selenium) ---
*.png
*.jpg

# --- Temporales ---
etc-pihole/*.db*
etc-pihole/
etc-dnsmasq.d/
proxy-data/
proxy-letsencrypt/
scraper-bot/logs/
scraper-bot/registros/
~
.DS_Store
