# --- CREDENCIALES TELEGRAM ---
TELEGRAM_TOKEN=token
TELEGRAM_CHAT_ID=chatid

# --- CONFIGURACIÓN DE MONITORIZACIÓN ---
URL_OBJETIVO=https://sede.inap.gob.es/ejemplo-convocatoria
KEYWORDS=fecha examen,listado admitidos,resolución,notas
